.carCard {
    &-wrapper {
        display: flex;
        width: 48%;
        margin-bottom: 40px;
        &-inside {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-between;
        }
    }
    &-title {
        display: flex;
        align-items: center;
        flex: wrap;
        font-family: 'TacticSans-Black';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        letter-spacing: 0.03em;
        color: var(--dark-blue);
        margin-top: 20px;
    }
    &-desc {
        display: flex;
        align-items: center;
        flex: wrap;
        font-family: 'TacticSans-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: var(--dark-grey);
        margin-top: 12px;
    }
    &-img {
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        width: 100%;
        height: 292px;
        border-radius: 8px;
    }
    &-button {
        margin: 28px 0px 0px 0px;
    }
}

@media (max-width: 1215px) {
    .carCard {
        &-wrapper {
            width: 100%;
            &-inside {
                width: 100%;
            }
        }
        &-img {
            height: 350px;
        }
    }
}

@media (max-width: 390px) {
    .carCard {
        &-title {
            font-size: 16px;
        }
        &-desc {
            font-size: 14px;
        }
        &-img {
            height: 180px;
        }
    }
}
