.filter {
    &-wrapper {
        display: flex;
        padding-top: 20px;
        margin-right: 60px;
        &-inside {
            border-bottom: 2px solid var(--dark-grey);
        }
        &-remove {
            display: flex;
        }
    }
    &-title {
        display: flex;
        align-items: center;
        flex: wrap;
        font-family: 'TacticSans-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: var(--dark-blue);
    }
}

.options {
    &-wrapper {
        padding: 20px 0px 30px 0px;
    }
    &-button {
        margin: 10px 10px 0px 0px;
    }
}

.outside-filter {
    display: flex;
}

.clear-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'TacticSans-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.04em;
    margin-top: 40px;
    margin-right: 60px;
    padding: 23px 0px;
}

@media (max-width: 1425px) {
    .filter {
        &-wrapper {
            margin-right: 30px;
        }
    }
    .outside-filter {
        width: 44%;
    }
    .clear-filter {
        margin-right: 30px;
    }
}

// remove
@media (max-width: 790px) {
    .filter {
        &-wrapper {
            padding-top: 0px;
            margin-right: 0px;
        }
        &-title {
            display: none;
        }
        &-wrapper-inside {
            border-bottom: none;
        }
    }
    .options {
        &-wrapper {
            padding: 0px 0px 30px 0px;
        }
    }
    .outside-filter {
        width: 100%;
    }
    .clear-filter {
        display: none;
    }
    .remove {
        display: none;
    }
}
