.title {
    display: flex;
    align-items: center;
    flex: wrap;
    font-family: 'TacticSans-Black';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: var(--dark-blue);
}

// remove
@media (max-width: 390px) {
    .title {
        font-size: 20px;
    }
}
