.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: var(--text-white);
}

.home {
    &-wrapper {
        display: flex;
        &-inside {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    &-title-wrapper {
        display: flex;
        padding: 100px 0px 60px 0px;
    }
}

// remove
@media (max-width: 790px) {
    .home {
        &-wrapper {
            &-inside {
                flex-wrap: wrap;
                flex-direction: column;
            }
        }
        &-title-wrapper {
            padding: 30px 0px 10px 0px;
        }
    }
}
